## We will implement the Adaboost algorithm from scratch using Python

In [1]:
print("We will implement the Adaboost algorithm from scratch using Python")

We will implement the Adaboost algorithm from scratch using Python

In [2]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import pandas as pd
import numpy as np
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('income.csv')

In [4]:
df.head()

   age  fnlwgt  education.num  ...  capital.loss  hours.per.week  income
0   40  223881             15  ...             0              70       1
1   30  149118              9  ...             0              40       0
2   46  109209             10  ...             0              40       1
3   32  229566             11  ...             0              60       1
4   54  148657              1  ...             0              40       0

[5 rows x 7 columns]

In [5]:
X = df.iloc[:,0:6]
y = df.iloc[:,6]

In [6]:
X.head()

   age  fnlwgt  education.num  capital.gain  capital.loss  hours.per.week
0   40  223881             15         99999             0              70
1   30  149118              9             0             0              40
2   46  109209             10             0             0              40
3   32  229566             11             0             0              60
4   54  148657              1             0             0              40

In [7]:
y.head()

0    1
1    0
2    1
3    1
4    0
Name: income, dtype: int64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
adamodl = AdaBoostClassifier(n_estimators=100, learning_rate=1)
model = adamodl.fit(X_train, y_train)

In [10]:
y_pred = model.predict(X_test)

In [11]:
acc = accuracy_score(y_test,y_pred)

In [12]:
print(acc)

0.8236

In [13]:
## Gradient Boosting Classifier

In [14]:
X = df.iloc[:, 0:6]
y = df.iloc[:, 6]

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
gbmodel = GradientBoostingClassifier(n_estimators=100, learning_rate=1, max_depth=3)

In [17]:
model = gbmodel.fit(X_train, y_train)

In [18]:
y_pred = model.predict(X_test)

In [19]:
acc = accuracy_score(y_test, y_pred)

In [20]:
print("Accuracy is: ", acc)

Accuracy is:  0.8226